In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('mapping.csv', sep=';')

In [11]:
df = df.astype({'image_id':int})

In [19]:
df_train = df.iloc[:350]
df_validation = df.iloc[350:]

In [21]:
df_train.to_csv('df_train.csv')
df_validation.to_csv('df_validation.csv')

In [20]:
df_validation

     image_id  wealth_id
350      2301  -0.807424
351      2302  -0.858462
352      2303   2.447895
353      2304  -0.535386
354      2305  -1.058260
..        ...        ...
432      2415   0.392689
433      2416   1.425181
434      2417  -0.742449
435      2418   1.063449
436      2420  -1.072874

[87 rows x 2 columns]